html,
body {
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;;
}

ul {
	list-style: none;
}

ul li {
	display: inline-block;
	margin-left: 10px;
}

a {
	text-decoration: none;
}

footer {
	background: linear-gradient( 
135deg
, rgba(30,87,153,1) 0%, rgba(0,57,94,1) 99%);
	padding: 50px 0;

}

i.fa-arrow-right {
	font-size: 18px;
}



@media(min-width: 1000px) {

	.menu-toggle {
		display: none;
	}

	p {
		font-weight: 400;
		font-size: 18px;
		line-height: 28px;
	}

	h1 {
		text-transform: uppercase;
		font-size: 40px;
		margin: 0;
	}

	h5 {
		text-transform: uppercase;
		font-size: 26px;
		color: #0071bb;
		margin: 0;
	}

	header{
		display: flex;
		position: fixed;
		margin: auto;
		width: 100%;
		background: #fbfbfb;
		box-shadow: 0px 0px 10px #00000021;
		z-index: 99;
	}

	.header-program-wrapper {
		max-width: 1400px;
		margin: auto;
	}

	.nav-holder ul li {
		padding: 10px 0;
		border-bottom: 2px solid transparent;
		transition: .2s;
	}

	.nav-holder ul li:hover {
		transition: .1s;
		border-bottom: 2px solid #0071bb;
	}

		.nav-holder nav ul li a{
			color: #000;
			font-weight: 500;
		}

	.arrow-up {
		visibility: hidden;
		position: absolute;
		top: 24px;
		right: 75px;
		width: 0; 
		height: 0; 
		border-left: 10px solid transparent;
	    border-right: 10px solid transparent;
	    border-bottom: 8px solid #0071bb;
	}

	.dropdown-wrap {
		position: relative;
	}

	.dropdown-content {
		visibility: hidden;
		position: absolute;
		width: 300px;
		padding-top: 10px;
		right: -75px;
	}

		.dropdown-content ul {
			border-radius: 4px;
			display: flex;
			flex-direction: column;
			padding: 0;
			margin: 0;
			align-items: center;
			justify-content: center;
			background-color: #0071bbf7;
			box-sizing: border-box;
		}

			.dropdown-content ul a li {
				padding: 20px 10px;
				transition: .0s;
				width: 100%;
				box-sizing: border-box;
				margin: 0;
				font-size: 14px;
				border: 1px solid transparent; 
			}

			.dropdown-content ul a li:hover {
				transition: .0s !important;
				border: 1px solid transparent; 
				background-color: #ffffff17;
			}

				.dropdown-content ul a {
					color: #fff !important;
					width: 100%;
				}

	.dropdown-wrap:hover .dropdown-content,
	.dropdown-wrap:hover .arrow-up {
		visibility: visible;
		transition: .0s !important;
	}

	section {
		display: flex;
		padding: 85px 0;
	}

	.reason-icon {
		margin-right: 15px;
		font-size: 30px !important;
		display: inline-block;
		color: #c4c4c48c;
	}

	.wrapper {
		max-width: 1100px;
		margin: auto;
		display: flex;
	}

	.header-wrapper {
		padding: 0px 30px;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

		.logo-wrap {
			padding: 30px 15px;
		}

			.logo-wrap img {
				max-width: 280px;
			}

	.button {
		display: block;
		padding: 10px 25px;
		border-radius: 50px;
		min-width: 140px;
		text-align: center;
		font-weight: 500;
		text-transform: uppercase;
	}

	.button.ghost {
		border: 1px solid #0071bb;
		background-color: transparent;
		color: #0071bb;
		transition: .3s;	
	}

	.button.blue {
		border: 1px solid transparent;
		background-color: #0071bb;
		color: #fff;
		transition: .3s;
	}

	.button.white {
		border: 1px solid #0071bb;
		background-color: #fff;
		color: #0071bb;
		transition: .3s;
	}

	.button.ghost:hover {
		color: #fff;
		background-color: #0071bb;
		transition: .3s;
	}

	.button.blue:hover {
		box-shadow: 0px 0px 10px #0000003d;
	}

	.button.white:hover {
		box-shadow: 0px 0px 10px #0000003d;
	}
		
	.section-title {
		font-weight: 400;
		font-size: 24px;
		display: block;
		width: 100%;
		text-align: center;
	}

	.section-subtitle {
		color: #0071bb;
		font-size: 18px;
	}

	/* Hero Section */

	#hero {
		width: 100%;
		height: 100%;
		background-image: url('../images/hero_bg.jpg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		padding: 0 0;
	}
		
		.hero-wrapper {
			position: relative;
			width: 100%;
		}

		.hero-content {
			position: absolute;
			bottom: 0;
			top: 5px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			width: 100%;
			line-height: 35px;
		}

			.hero-heading {
				line-height: 45px;
				color: #0071bb;
				margin: 15px 0;
				font-size: 40px;
				font-weight: 900;
			}

			.hero-text {
				font-size: 22px;
				text-transform: uppercase;
			}


			.hero-cta {
				display: flex;
				justify-content: space-between;
			}

				.hero-cta a {
					margin: 35px 15px 0 0;
				}

	/* Our Partners Section */

	.partners-wrapper {
		width: 100%;
		text-align: center;
		flex-direction: column;
	}

		.partners-logos-wrap {
			margin-top: 25px;
		}

			.partners-logos-wrap img {
				margin: 25px 25px 0 25px;
				max-width: 103px;
				filter: grayscale(100%);
				transition: .3s;
			}

			.partners-logos-wrap img:hover {
				filter: grayscale(0%);
				transition: .3s;
			}

	/* Why Apply Section */

	#why-apply {
		background-color: #f9f9f9;
	}

		.why-apply-wrapper {
			text-align: center;
			width: 100%;
			flex-direction: column;
		}

			.why-apply-reasons-wrap {
				margin-top: 65px;
				display: flex;
				justify-content: space-between;
			}

				.why-apply-reason {
					text-align: justify;
					width: 30%;
				}

					.why-apply-reason p {
						font-size: 16px;
						line-height: 25px;
						text-align: left;
					}

					.why-apply-reason h5 {
						display: inline-block;
						width: 80%;
						vertical-align: middle;
						text-align: left;
					}

	/* Success Count Section */

	.success-count-wrapper {
		justify-content: space-between;
		text-align: center;
		width: 100%;
	}
		
		.success-count-wrapper span {
			display: block;
		}

		.count-number {
			font-weight: 900;
			color: #0071bb;
			font-size: 40px;
		}

		.count-text {
			font-weight: 500;
			font-size: 22px;
		}


	/* Programs Details Section */

	#programs-details {
		background-image: url('../images/program_bg.png');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

		.programs-details-wrapper {
			flex-direction: column;
			width: 100%;
		}

			.programs-details-wrapper h1{
				color: #fff;
			}

			.programs-details-wrapper table {
				margin-top: 65px;
				margin-bottom: 65px;
				border-collapse: collapse;
			}

				.programs-details-wrapper table tr:hover {
					background: #fffbfb0d;
					transition: .3s;
				}

				.programs-details-wrapper table tr td{
					color: #fff;
					border-bottom: 1px solid #ffffff2b;
					padding: 25px 15px 25px 0;
					font-size: 18px;
					font-weight: 500;
				}

				.programs-details-wrapper table tr td:last-of-type {
					text-align: right;
				}

				.programs-details-wrapper table tr td span {
					border-radius: 30px;
					color: #0071bb;
					padding: 10px 15px;
					font-size: 14px;
					background-color: #fff;
					font-weight: 500;
					transition: .3s;
				}

				.programs-details-wrapper table tr td span:hover {
					box-shadow: 0px 0px 10px #00000047;
				}

				.programs-cta-wrap {
					margin-top: 65px;
					max-width: 230px;
					margin: auto;
				}

	/* What You Get Section */

	.what-you-get-heading-wrap {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		width: 100%;
	}
		
		.what-you-get-heading-wrap {
			text-align: center;
		}

		.what-you-get-heading-wrap img {
			max-height: 55px;
			margin-right: 15px;
		}

		.what-you-get-icons-wrap {
			display: flex;
			margin-top: 65px;
		    justify-content: center;
		    flex-wrap: wrap;
		}

			.what-you-get-icons-wrap div {
				display: flex;
				align-items: flex-start;
				position: relative;
				width: 30%;
				margin: 20px 18px;
			}
				
				.what-you-get-icons-wrap div i {
					position: absolute;
				    right: 0;
				    left: 0;
				    top: -25px;
				    display: flex;
				    justify-content: center;
				    height: 100%;
				    font-size: 40px;
				    color: #0071bb;
				    opacity: .9;
				} 

				.what-you-get-icons-wrap div p {
					font-weight: 500;
				}


	/* How to Apply Section */

	#how-to-apply {
	    background: linear-gradient(
	    	135deg,
	    	rgba(30,87,153,1) 0%,
	    	rgba(0,57,94,1) 99%);
	}
		
		.how-to-apply-wrapper {
			flex-direction: column;
		}
		
			.how-to-apply-wrapper h1 {
				color: #fff;
				text-align: center;
			}


			.how-to-wrapper {
				margin-top: 65px;
				display: flex;
				justify-content: space-around;
			}

				.single-step {
					width: 30%;
					text-align: center;
				}

					.single-step p {
						color: #fff;
					}

						.single-step .step-number {
							display: flex;
							align-items: center;
							font-size: 40px;
							justify-content: center;	
							font-weight: 900;
							border-radius: 50%;
							width: 50px;
							height: 50px;
							margin: auto;
						}

							.step-number.white {
								border: 8px solid #fff;
								color: #fff;
							}

							.step-number.green {
								color: #89f4b1;
								border: 8px solid #89f4b1;
							}

							.step-number.black {
								color: #000;
								border: 8px solid #000;
							}

	/* Success Stories Section */

	.success-stories-wrapper {
		flex-direction: column;
		max-width: 950px;
	}

		.success-stories-wrapper h1 {
			text-align: center;
		}

		.story-card-holder {
			display: flex;
			border-radius: 15px;
			box-shadow: 0px 0px 10px #00000026;
			max-width: 700px;
			margin: auto;
			margin-top: 65px;
			margin-bottom: 15px;
			padding: 65px 35px;
			justify-content: center;
			align-items: flex-start;
			cursor: grab;
		}

			.story-card-holder img {
				max-width: 150px;
				max-height: 150px;
				margin-right: 25px;
			}

			.story-author {
				display: block;
				width: 100%;
				opacity: .6;
				font-style: italic;
			}

			.owl-dots {
				display: none;
			}

			.owl-nav {
				position: absolute;
				top: 50%;
				display: flex;
				justify-content: space-between;
				width: 100%;
				font-size: 60px;
				opacity: .3;
			}


	/* Mediums Section */

	#mediums {
	    background: #f9f9f9;
	}

	.mediums-wrapper {
		width: 100%;
		flex-direction: column;
	}

		.mediums-wrapper h1 {
			text-align: center;
		} 

		.medium-single-wrap {
		    display: flex;
		    flex-wrap: wrap;
		    align-items: center;
		    box-sizing: border-box;
		    margin-top: 65px;
		    justify-content: space-between;
		}

			.medium-single-wrap a {
					width: 18%;
				    margin-bottom: 40px;
				    box-sizing: border-box;
				    display: flex;
				    margin: 16px;
				    flex-wrap: wrap;
				    justify-content: center;
				    align-items: center;
			}

				.medium-single-wrap a img {
				    padding: 15px;
				    background: #0000001a;
				    border-radius: 15px;
				        box-shadow: 0px 6px 8px 0px #0000002b;
				    max-width: 180px;
				    transition: .3s;
				    background: linear-gradient( 
					346deg,
					rgb(219 219 219 / 76%) 15%, rgb(219 219 219 / 57%) 42%, rgb(219 219 219 / 95%) 100%);
				}

				.medium-single-wrap a img:hover {
				    transform: scale(1.05);
				    transition: .2s;
				}

	/* Blog Posts Section */



		.blog-posts-wrapper {
			flex-direction: column;
		}

			.blog-posts-content {
				display: flex;
				justify-content: space-between;
				margin-top: 65px;
			}

			.blog-post {
				width: 30%;
				background-color: #f2f4f5;
			    box-shadow: 0px 0px 10px #00000026;
			    padding: 15px;
			    border-radius: 15px;
			    transition: .3s;
			}

			.blog-post:hover {
				background-color: #fff;
			    box-shadow: 0px 0px 10px #00000061;
			    transition: .3s;
			}

				.blog-post a {
					color: #000;
				}

				.blog-post img {
					width: 100%;
					max-height: 165px;
					border-radius: 15px;
					object-fit: cover;
				}

				.blog-post span {
					display: block;
				}

				.blog-post p {
					font-size: 14px;
					line-height: 25px;
				}

				.blog-post .blog-post-category {
					font-weight: 500;
					font-size: 14px;
					margin: 10px 0;
					color: silver;
				}

				.blog-post .blog-post-title {
					line-height: 25px;
					font-size: 16px;
					font-weight: 600;
				}

				#apply-header, #apply-text {
					background-color: #0071bb;
					border-radius: 15px;
					padding: 12px 25px;
					cursor: pointer;
					margin-left: 25px;
				}

				#apply-header:hover, #apply-text:hover {
					box-shadow: 0px 0px 12px #00000038;
				}

				#apply-header a, #apply-text a {
					color: #fff;
				}

				#apply-text {
					display: inline;
					margin: 0;
				}

	.footer-wrapper {
		justify-content: space-between;
		align-items: center;
		/*width: 100%;*/
	}

		.footer-social-wrap span {
			padding: 0 10px;
			font-size: 22px;
		}

		.footer-social-wrap span a,
		.footer-social-wrap span i {
			color: #fff;
		}

		.footer-links-wrap ul {
			padding: 0;
		}

		.footer-links-wrap a {
			color: #fff;
		}
}