.program-content ul {
	list-style: disc;
	font-size: 18px;
}

body {
	/* background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1)); */
	/* background-image: linear-gradient( to right, rgba(241, 80, 27, 0.2), rgba(251, 186, 9, 0.2)); */
}

ol li{
	font-size: 18px;
	padding: 15px 0;
	color: #5e5e5e;
}

.program-content ul li {
	display: list-item;
	color: #5e5e5e;
	padding: 5px 0;
}

b,
i {
	color: #0071bb;
}

h3 {
	color: #5e5e5e;
}

p {
	color: #5e5e5e;
}

	/* table start */

	table {
		width: 100%;
		table-layout: auto;
	}

	.tbl-content {
		height: 300px;
		/* overflow-x:auto; */
		margin: 0;
		border: 1px solid rgba(255, 255, 255, 0.3);
	}

	th {
		padding: 20px 15px;
		text-align: left;
		font-weight: 500;
		font-size: 18px;
		font-weight: 800;
		color: #fff;
		text-transform: uppercase;
	}

	td {
		padding: 18px;
		text-align: left;
		vertical-align: middle;
		font-weight: 300;
		font-size: 15px;
		color: #fff;
		border-bottom: solid 1px rgba(255, 255, 255, 0.1);
	}

	table {
		/* background: -webkit-linear-gradient(left, #25c481, #25b7c4);
		background: linear-gradient(to right, #25c481, #25b7c4); */
		background: linear-gradient(
	    	228deg,
	    	rgba(30,87,153,1) 0%,
	    	rgba(0,57,94,1) 99%);
	}

	

	/* table end */

table {
	/* color: #5e5e5e; */
	border-collapse: collapse;
	width: 100%;
}
thead {
	border-bottom: solid 1px rgba(255, 255, 255, 0.1);
	background-color: rgba(255, 255, 255, 0.25);
}

table td,
table th{
	/* border: 1px solid #c5c5c547; */
	padding: 15px 15px;
	font-weight: 500;
}

table td a {
	color: white;
}

table td a:hover {
	color: #0071bb;
}


@media(min-width: 1000px) {
	.program-banner {
		height: 465px;
		width: 100%;
	}	

	.program-wrap {
		display: flex;
		margin: 20px auto;
		/* padding: 20px 20px; */
		max-width: 1000px;
		box-sizing: border-box; 
	}

	.program-content {
		box-shadow: 0px 0px 7px #00000047;
		padding: 100px 100px;
		border-radius: 15px;
		background-color: rgba(245, 245, 245, 0.765);
	}

	.program-nav-list li{
		margin-left: 25px;
	}
}
	
@media(max-width: 1000px) {
	.program-banner {
		visibility: hidden;
		height: 100px
	}	

	.program-wrap {
		margin: auto;
		padding: 20px 20px;
		width: 90%;
	}
}	