@media(max-width: 1000px) {
	p {
		font-weight: 400;
		font-size: 1em;
		line-height: 28px;
	}

	h1 {
		text-transform: uppercase;
		font-size: 1.5em;
		margin: 0;
	}

	h5 {
		text-transform: uppercase;
		font-size: 1.2em;
		color: #0071bb;
		margin: 0;
	}

	header{
		display: flex;
		position: fixed;
		margin: auto;
		width: 100%;
		background: #fbfbfb;
		box-shadow: 0px 0px 10px #00000021;
		z-index: 99;
	}


	#apply-header {
		background-color: #0071bb;
		border-radius: 15px;
		padding: 12px 25px;
		cursor: pointer;
		text-align: center;
		border: none;
	}

	#apply-header a {
		color: #fff;
	}

	.dekstop-header-wrapper {
		display: none;
	}

	#mobile-menu-toggle i {
		color: #000;
	}

	.menu-toggle {
		font-size: 24px;
	}

	.nav-holder nav {
		display: none;
	} 

	.nav-holder nav.active {
		display: block;
	    position: fixed;
	    height: 100%;
	    width: 100%;
	    background: #fbfbfb;
	    right: 0;
	}

	.nav-holder nav.active a {
		color: #0071bb;
	}

	.nav-holder nav.active ul{
		padding: 50px 0 0 0;
	}
		.nav-holder nav.active ul li {
			padding: 10px 0;
			display: block;
			font-weight: 500;
			border-bottom: 1px solid #b3b3b354;
			margin-right: 10px;
		}

		.dropdown-content ul {
			padding: 0 !important;
		}

	section {
		display: flex;
		padding: 45px 0;
		overflow: hidden;
	}

	.reason-icon {
		margin-right: 15px;
		font-size: 30px !important;
		display: inline-block;
		color: #c4c4c48c;
	}

	.wrapper {
		width: 100%;
		box-sizing: border-box;
		margin: auto;
		display: flex;
		padding: 0 20px;
	}

	.header-wrapper {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px 20px;
	}

		.logo-wrap {
			padding: 15px 15px 15px 0;
		}

			.logo-wrap img {
				max-width: 135px;
			}

	.button {
		display: block;
		padding: 10px 25px;
		border-radius: 50px;
		width: 100%;
		box-sizing: border-box;
		text-align: center;
		font-weight: 500;
		text-transform: uppercase;
	}

	.button.ghost {
		background-color: #fff;
		color: #0071bb;
		transition: .3s;	
	}

	.button.blue {
		border: 1px solid transparent;
		background-color: #0071bb;
		color: #fff;
		transition: .3s;
	}

	.button.white {
		border: 1px solid #0071bb;
		background-color: #fff;
		color: #0071bb;
		transition: .3s;
	}

	.button.ghost:hover {
		color: #fff;
		background-color: #0071bb;
		transition: .3s;
	}

	.button.blue:hover {
		box-shadow: 0px 0px 10px #0000003d;
	}

	.button.white:hover {
		box-shadow: 0px 0px 10px #0000003d;
	}
		
	.section-title {
		font-weight: 400;
		font-size: 24px;
		display: block;
		width: 100%;
		text-align: center;
	}

	.section-subtitle {
		color: #0071bb;
		font-size: 18px;
	}

	/* Hero Section */

	#hero {
		width: 100%;
		min-height: 775px;
		max-height: 960px;
		background-image: url('../images/hero_bg.jpg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		padding: 0 0;
	}
		
		.hero-wrapper {
			position: relative;
		}

		.hero-content {
			position: relative;
			bottom: 0;
			top: 45px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			width: 100%;
			line-height: 35px;
		}

			.hero-heading {
				line-height: 45px;
				color: #0071bb;
				margin: 15px 0;
				font-size: 2em;
				font-weight: 900;
			}

			.hero-text {
				font-size: 1.2em;
				text-transform: uppercase;
			}


			.hero-cta {
				display: flex;
				flex-direction: column;
				width: 100%;	
				margin-top: 25px;
			}

				.hero-cta a {
					margin: 10px 0;
				}

	/* Our Partners Section */

	.partners-wrapper {
		/*width: 1400px;*/
		width: 100%;
		text-align: center;
		flex-direction: column;
	}

		.partners-logos-wrap {
			margin-top: 25px;
		}

			.partners-logos-wrap img {
				margin: 25px 25px 0 25px;
				max-width: 120px;
				filter: grayscale(100%);
				transition: .3s;
			}

			.partners-logos-wrap img:hover {
				filter: grayscale(0%);
				transition: .3s;
			}

	/* Why Apply Section */

	#why-apply {
		background-color: #f9f9f9;
	}

		.why-apply-wrapper {
			text-align: center;
			flex-direction: column;
		}

			.why-apply-reasons-wrap {
				margin-top: 25px;
				display: flex;
				flex-direction: column;
			}

				.why-apply-reason {
					width: 100%;
					margin-bottom: 25px;
					text-align: left;
				}

					.why-apply-reason p {
						font-size: 16px;
						line-height: 25px;
					}

					.why-apply-reason h5 {
						display: inline-block;
						width: 80%;
						vertical-align: middle;
					}

	/* Success Count Section */

	.success-count-wrapper {
		flex-direction: column;
		text-align: center;
	}
		
		.success-count-wrapper span {
			display: block;
		}

		.count-wrap {
			margin-bottom: 25px;
		}

		.count-number {
			font-weight: 900;
			color: #0071bb;
			font-size: 40px;
		}

		.count-text {
			font-weight: 500;
			font-size: 22px;
		}


	/* Programs Details Section */

	#programs-details {
		background-image: url('../images/program_bg.png');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

		.programs-details-wrapper {
			flex-direction: column;
		}

			.programs-details-wrapper h1{
				color: #fff;
			}

			.programs-details-wrapper table {
				margin-top: 25px;
				margin-bottom: 25px;
				border-collapse: collapse;
			}

				.programs-details-wrapper table tr:hover {
					background: #fffbfb0d;
					transition: .3s;
				}

				.programs-details-wrapper table tr td{
					color: #fff;
					border-bottom: 1px solid #ffffff2b;
					padding: 25px 15px 25px 0;
					font-size: 18px;
				}

				.programs-details-wrapper table tr td:last-of-type {
					text-align: right;
				}

					.programs-details-wrapper table tr td a {
						margin: 25px 0;
						display: block;
					}

				.programs-details-wrapper table tr td span {
					border-radius: 30px;
					color: #0071bb;
					padding: 10px 15px;
					font-size: 14px;
					background-color: #fff;
					font-weight: 500;
					transition: .3s;
				}

				.programs-details-wrapper table tr td span:hover {
					box-shadow: 0px 0px 10px #00000047;
				}

				.programs-cta-wrap {
					margin-top: 65px;
					width: 100%	;
					margin: auto;
				}

	/* What You Get Section */

	.what-you-get-heading-wrap {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		width: 100%;
	}
		
		.what-you-get-heading-wrap {
			text-align: center;
		}

		.what-you-get-heading-wrap img {
			max-height: 55px;
			margin-right: 15px;
		}

	/* How to Apply Section */

	#how-to-apply {
	    background: linear-gradient(
	    	135deg,
	    	rgba(30,87,153,1) 0%,
	    	rgba(0,57,94,1) 99%);
	}
		
		.how-to-apply-wrapper {
			flex-direction: column;
		}
		
			.how-to-apply-wrapper h1 {
				color: #fff;
				text-align: center;
			}

			.how-to-wrapper {
				margin-top: 25px;
				display: flex;
				flex-direction: column;
				justify-content: center;
			}

				.single-step {
					width: 100%;
					text-align: center;
				}

					.single-step p {
						color: #fff;
					}

						.single-step .step-number {
							display: flex;
							align-items: center;
							font-size: 40px;
							justify-content: center;	
							font-weight: 900;
							border-radius: 50%;
							width: 50px;
							height: 50px;
							margin: auto;
						}

							.step-number.white {
								border: 8px solid #fff;
								color: #fff;
							}

							.step-number.green {
								color: #89f4b1;
								border: 8px solid #89f4b1;
							}

							.step-number.black {
								color: #000;
								border: 8px solid #000;
							}

	/* Mediums Section */

	#mediums {
		background: #f9f9f9;
	}

	.mediums-wrapper {
		flex-direction: column;
	}

		.mediums-wrapper h1 {
			text-align: center;
		}

		.medium-single-wrap {
		    display: flex;
		    flex-wrap: wrap;
		    align-items: center;
		    box-sizing: border-box;
		    margin-top: 35px;
		    justify-content: center;
		}

			.medium-single-wrap a {
					/*width: 18%;*/
				    margin-bottom: 40px;
				    box-sizing: border-box;
				    display: flex;
				    margin: 16px;
				    flex-wrap: wrap;
				    justify-content: center;
				    align-items: center;
			}

				.medium-single-wrap a img {
				    padding: 15px;
				    background: #0000001a;
				    border-radius: 15px;
				        box-shadow: 0px 6px 8px 0px #0000002b;
				    max-width: 180px;
				    transition: .3s;
				    background: linear-gradient( 
					346deg,
					rgb(219 219 219 / 76%) 15%, rgb(219 219 219 / 57%) 42%, rgb(219 219 219 / 95%) 100%);
				}

	/* Success Stories Section */

	.success-stories-wrapper {
		flex-direction: column;
		overflow: hidden;
	}

		.success-stories-wrapper h1 {
			text-align: center;
		}

		.story-card-holder {
			display: flex;
			border-radius: 15px;
			box-shadow: 0px 0px 10px #00000026;
			max-width: 90%;
			margin: auto;
			margin-top: 35px;
			margin-bottom: 15px;
			padding: 20px 15px;
			justify-content: center;
			align-items: flex-start;
			box-sizing: border-box;
			cursor: grab;
			flex-direction: column;
		}

			.story-card-holder img {
				max-width: 150px;
				max-height: 150px;
				margin: auto;
			}

			.story-author {
				display: block;
				width: 100%;
				opacity: .6;
				font-style: italic;
			}

			.owl-dots {
				display: none;
			}

			.owl-nav {
				position: absolute;
				top: 50%;
				display: flex;
				justify-content: space-between;
				width: 100%;
				font-size: 60px;
				opacity: .3;
			}


	/* Blog Posts Section */

		.blog-posts-wrapper {
			flex-direction: column;
		}

			.blog-posts-content {
				display: flex;
				flex-direction: column;
				margin-top: 35px;
			}

			.blog-post {
				width: 100%;
				background-color: #f2f4f5;
			    box-shadow: 0px 0px 10px #00000026;
			    padding: 15px;
			    border-radius: 15px;
			    transition: .3s;
			    box-sizing: border-box;
			    margin-bottom: 25px;
			}

			.blog-post:hover {
				background-color: #fff;
			    box-shadow: 0px 0px 10px #00000061;
			    transition: .3s;
			}

				.blog-post a {
					color: #000;
				}

				.blog-post img {
					width: 100%;
					max-height: 165px;
					border-radius: 15px;
					object-fit: cover;
				}

				.blog-post span {
					display: block;
				}

				.blog-post p {
					font-size: 14px;
					line-height: 25px;
				}

				.blog-post .blog-post-category {
					font-weight: 500;
					font-size: 14px;
					margin: 10px 0;
					color: silver;
				}

				.blog-post .blog-post-title {
					line-height: 25px;
					font-size: 16px;
					font-weight: 600;
				}

				.footer-wrapper {
					flex-direction: column;
					justify-content: center;
					align-items: center;
				}

				.dropdown-wrap {
					position: relative;	
				}

				.dropdown-content {
					display: none;
				}

				.dropdown-content.single-program {
					display: block;
				}

					.dropdown-content.single-program {
						margin-top: 15px;
					}

				.footer-social-wrap {
					margin: 35px 0;
				}

				.footer-icon {
				    font-size: 28px;
				    margin: 10px;
				}

					.footer-icon a,
					.footer-icon i {
						color: #fff;
					}

				.footer-links-wrap ul {
					padding: 0;
				}

					.footer-links-wrap ul a{
						color: #fff;
					}

				.what-you-get-icons-wrap {
					text-align: left;
					width: 100%;
				}

				.what-you-get-icons-wrap div {
					display: flex;
					align-items: center;
					position: relative;
					width: 100%;
					margin: 25px 0;
				}
					
					.what-you-get-icons-wrap div i {
					    display: flex;
					    justify-content: flex-start;
					    align-items: center;
					    width: 50px;
					    height: 100%;
					    font-size: 30px;
					    color: #0071bb;
					    opacity: .9;
					    margin-right: 5px;
					} 

						.what-you-get-icons-wrap div i:before {
							width: 50px;
							display: flex;
							justify-content: center;
						}

					.what-you-get-icons-wrap div p {
						font-weight: 500;
						margin: 0;
					}
}